<!-- css/styles.css of 2026-jul.bauska.org  -->
<!-- was: font-family:'Bradley Hand', cursive, 'OCR A Std', monospace, Helvetica; -->
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-jul.bauska.org/images/brute-man-600.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#fff;  /* white */
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:65%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
  font-size:75%;
  list-style:none;
  padding-left:20px;
  padding-right:5px;
}

.event {
  border-radius:5px;
  color:#10171c;  /* very dark (mostly black) blue */
  padding:5px;
  margin:5px 0;
}
<!-- added 5-13-25 7:06pm -->
.container {
  background-color: white;
  border: 2px solid #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: royalblue;
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 88%;
}

<!-- World, National & International Days -->
.canada {
  background-color:#f5e1d2;  /* light grayish orange */
}
.ufo {
  background-color:#c2e7e7;  /* light grayish cyan */
}
.independence {
  background-color:#ff8080;  /* very light red */
}
.bikini {
  background-color:#ffbf80;  /* very light orange */
}
.intl-kissing {
  background-color:#ff80bf;  /* very light pink */
}
.fried-chicken {
  background-color:#80bfff;  /* very light blue */
}
.chocolate {
  background-color:#9aff9a;  /* pale lime green */
}
.brians-bd {
  background-color:#d2f5e1  /* light grayish cyan - lime green */
}
.cow-appreciation {
  background-color:#e6cdff;  /* very pale violet */
}
.natl-sugar {
  background-color:#f5e1d2  /* light grayish orange */
}
.french-fry {
  background-color:#ffb267;  /* very light orange */
}
.seven-eleven {
  background-color:#e7e8fa;  /* very light blue */
}
.all-american-pet-photo {
  background-color:#ffb267;  /* very light orange */
}
.population {
  background-color:#ffcc67;  /* very light orange */
}
.natl-pecan-pie {
  background-color:#e7e8fa;  /* very light blue */
}
.bastille {
  background-color:#ff9a9a;  /* pale red [pink tone] */
}
.natl-mandc {
  background-color:#9ab3ff;  /* pale blue */
}
.youth-skills {
  background-color:#98fb98;  /* very soft lime green */
}
.world-snake {
  background-color:#9ab3ff;  /* pale blue */
}
.natl-tattoo {
  background-color:#ffc0cb;  /* very pale red (pink) */
}
.world-emoji {
  background-color:#ffff9a;  /* pale yellow */
}
.nelson-mandela {
  background-color:#d3d3d3;  /* light gray */
}
.natl-icecream {
  background-color:#ccff9a;  /* pale green */
}
.columbian {
  background-color:#9aff9a;  /* pale lime green */
}
.natl-moon {
  background-color:#ff7fdf;  /* very light pink */
}
.natl-vanilla-icecream {
  background-color:#ccff9a;  /* pale green */
}
.natl-tequila {
  background-color:#ffe34d;  /* light yellow */
}
.parents {
  background-color:#b4ffb4;  /* pale lime green */
}
.hepatitis {
  background-color:#ba9ce8;  /* very soft violet */
}
.natl-lasagna {
  background-color:#89ffff;  /* very light cyan */
}
.intl-dayoffriendship {
  background-color:#ff7e6d;  /* very light red */
}
.natl-cheesecake {
  background-color:#b4ffb4;  /* pale lime green */
}
.natl-avocado {
  background-color:#afffad;  /* pale lime green */
}

